@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
  --background: #BFEDEF;
  --foreground: black;
  --test: black;
  background-color: var(--background);
}

button {
  background-color: var(--background);
  border: none;
  font-family: monospace;
  font-size: 30px;
  border-bottom: 1px solid yellow;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

textarea {
  background-color: var(--background);
  border: none;
  width: 50%;
  resize: none;
  min-height: 700px;
  overflow-y: hidden;
  font-size: 24px;
  font-family: 'IBM Plex Mono', monospace;
  border-right: 1px solid yellow;
  outline: none;
  display: inline-block;
}

textarea:click {
  outline: none;
}

#mdel {
  padding-bottom: 10px;
  border-bottom: 3px solid yellow; 
}

#md-html {
  background-color: var(--background);
  border: none;
  width: 47%;
  resize: none;
  min-height: 700px;
  overflow-y: hidden;
  font-size: 24px;
  font-family: 'IBM Plex Mono', monospace;
  outline: none;
  display: inline-block;
  height: 50px;
  flex-direction: column;
  overflow: auto;
  padding-top: 0px;
}


@media only screen and (max-width: 600px) {
  textarea {
    border: none;
    display: block;
    width: 100%;
  }
  #md-html {
    border-top: 1px solid yellow;
    display: block;
    width: 100%;
  }
}