@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://rsms.me/inter/inter.css');

body {
  --background: #BFEDEF;
  --foreground: black;
  --test: black;
  --border: #ff6b6b;
  background-color: var(--background);
}

button {
  background-color: var(--background);
  border: none;
  font-family: monospace;
  font-size: 30px;
  color: var(--border);
  margin-left: 15px;
  margin-right: 20px;
  cursor: pointer;
}

textarea {
  background-color: var(--background);
  border: none;
  width: 50%;
  resize: none;
  min-height: 700px;
  overflow-y: hidden;
  font-size: 24px;
  font-family: 'IBM Plex Mono', monospace;
  border-right: 1px solid var(--border);
  outline: none;
  display: inline-block;
}

textarea:click {
  outline: none;
}

#mdel {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--border); 
}

#md-html {
  background-color: var(--background);
  border: none;
  width: 47%;
  resize: none;
  min-height: 700px;
  overflow-y: hidden;
  font-size: 24px;
  outline: none;
  display: inline-block;
  height: 50px;
  flex-direction: column;
  overflow: auto;
  padding-left: 10px;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

p {
  margin-block-start: 0px;
}


@media only screen and (max-width: 600px) {
  textarea {
    border: none;
    display: block;
    width: 100%;
  }
  #md-html {
    border-top: 1px solid var(--border);
    display: block;
    width: 100%;
  }
}

footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid var(--border);
  height: 30px;
  position: fixed;
  z-index: 9;
  background-color: var(--background);
}

#markme {
  font-family: 
}